spring:
    profiles:
        active: dev
    application:
        name: "Demo"
        version: "0.1"
---
spring:
    config:
        activate:
            on-profile: dev
server:
    port: 8080
---
spring:
    config:
        activate:
            on-profile: production
server:
    port: 9001
---
spring:
    datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: create
        defer-datasource-initialization: true
    sql:
        init:
            mode: always
---
jwt:
    secret: ${JWT_SECRET}
    access:
        duration:
            minute: 10
            second: 600
        cookie-name: access-token
    refresh:
        duration:
            days: 7
            second: 604800
        cookie-name: refresh-token
---
logging:
    file:
        name: logs/application.log
    pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %level - %msg%n"
---
spring:
    servlet:
        multipart:
            location: uploads/
            max-file-size: 10MB
            max-request-size: 10MB
            enabled: true
---
springdoc:
    api-docs:
        path: /v3/api-docs
        enabled: true
    swagger-ui:
        path: /swagger-ui
        enabled: true
        tags-sorter: alpha
        operations-sorter: method
        display-request-duration: true
        default-model-expand-depth: 2
        default-models-expand-depth: 2
        try-it-out-enabled: true
    show-actuator: false
    packages-to-scan: com.example.demo.controller
---
telegram:
    bot:
        name: ${BOT_NAME}
        token: ${BOT_TOKEN}
        chat-id: ${CHAT_ID}
---
report:
    template-location: classpath:templates/report-template.xlsx